:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body {
    text-align: center;
    background: #193549;
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

.h1 {
    color: var(--base);
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    max-width: 100vw;
    max-height: 100vh;
}